{% extends "./index.html" %}
{% block upload %}
{% load crispy_forms_tags %}
{% load static %}
<link rel='stylesheet' href="{% static 'css/predict.css' %}">

<br><br>
<h4>Upload File</h4>
<p>Please upload file(s) containing sequence(s) of virus genome.</p>
<div class="row fileupload_container mb-5 mt-4">
    <div class="col-md-5 mb-5">    
        <form id="fileinfoform" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ upload_form.filepath}}
            <button type="submit" value="upload_form" class="btn btn-secondary mt-3" style="width: 100%; height: 13%;">Upload</button>		
        </form>
    </div>  
    <div class="col-md-6 ml-md-5">
        <form id="filelistform" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                {{ filelist_form.filelist }}
            </div>
            <div class="row float-right mt-2">
                <div class="col-md-6 alignment_box">
                </div>
                <div class="col-md-6">
                    <div class="btn-group" style="width: 105%;">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 105%;">Actions </button>
                        <div class="dropdown-menu">
                            <button type="submit" value="filelist_form" name="add_filelist" class="dropdown-item">Add to prediction</button>		
                            <button value="filelist_form" name="delete_filelist" class="dropdown-item">Delete files</button>		
                            <div class="dropdown-divider"></div>
                            <button button value="filelist_form" name="action" class="dropdown-item disabled">Save to database</button>		
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="dropdown-divider mb-5"></div>
<h4>Predict</h4>
<p>Please fill in the form below before making a prediction.<br/><small style="color:#6c757d"></small></p>
    <form id="predictinfoform" method="POST" enctype="multipart/form-data" target="_blank">
        {% csrf_token %}
        <div class="row ">
            <div class="col-md-4">
                {{ predict_form.mlmodels|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ predict_form.kmer|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ predict_form.email|as_crispy_field }}
                {{ predict_form.sendbyemail|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="submit" id="predictbtn" value="predict_form" name="action" class="btn btn-secondary" style="width: 100%">Predict</button>
            </div>
        </div>
    </form>
<br><br><br>

<br><br><br>
<div class="row">
    <div class="col-md-2">
        <h4>File List</h4>
    </div>
    <div class="col-md-8">
        <small>If you see some random strings appended after your files below, don't worry! They are just for avoiding duplicants.</small>
        {% for f in files %}
            <form method="post" action="{% url 'delete' f.pk %}">
                {% csrf_token %}
                {{f.pk}} {{ f.filepath.name|slice:"10:"|truncatechars:80 }}
                <button type="submit" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
        {% endfor %}
    </div>
</div>
<br><br><br>

<br><br><br>
<h4>File List</h4>
<div class="row">
    {% for fl in filelists %}
    <div class="col-md-8">
        <form method="post" action="{% url 'delete_filelists' fl.pk %}">
            {% csrf_token %}
            {{ fl.pk }}{{ fl }}
            <button type="submit" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>
    </div>
    {% endfor %}

</div>
<br><br><br>

{% if files.count == 0 %}
<script>
    $("#predictbtn").on("click", function() {
        alert("Please upload at least one file before making a prediction.");
        return false;
    })
</script>
{% endif %}

<!-- {% with last=filelists.last %}
{{last}}
{% ifequal last|length 0 %}
hihihi
<script>
    if(len(last)==0) {
        $("#predictbtn").on("click", function() {
            alert("Please select files you want to predict and add to prediction.");
            return false;
        })
    }
</script>
{% endifequal %}
{% endwith %} -->

<script>
    function resize() {
        let height = $('.upload_container').height();
        let width = $('.upload_container').width();
        $('.filelist_container').height(height);
        $('.filelist_container').width(1.5*width);
    }
    $(window).load(function() {
        resize();
    })
    $(window).resize(function() {
        resize();
    })
    $("#select_all").click(function() {
        $(".filelist_container input:checkbox").prop("checked", this.checked);
    })
</script>
{% endblock %}
