{% extends "./index.html" %}
{% block upload %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-10 ml-2">
        <div class="row">
            <div class="col-md-2">
                <h4>Upload File</h4>
            </div>
            <div class="col-md-10">    
                <p>Please upload file(s) containing sequence(s) of virus genome.<br/><small style="color:#6c757d">Only file field is required.</small></p>
                <form method="post" enctype="multipart/form-data" id="uploadform">
                    {% csrf_token %}
                    <!-- {{ form | crispy }} -->
                    <div class="row">
                        <div class="col-md-4">
                            {{ form.filepath|as_crispy_field  }}
                        </div>
                        <div class="col-md-4">
                            {{ form.kmer|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.email|as_crispy_field }}
                            {{ form.sendbyemail|as_crispy_field }}
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-4  mt-2">
                            <input type="submit" class="btn btn-secondary" id="uploadbtn" name="upload" value="upload" style="width: 100%"/>
                        </div>
                        <div class="col-md-4  mt-2">
                            <input type="submit" class="btn btn-secondary" id="predictbtn" name="predict" value="predict" style="width: 100%"/>
                        </div>
                    </div> -->
                </form>
                <div class="row">		
                    <div class="col-md-4  mt-2">		
                        <button type="submit" form="uploadform" class="btn btn-secondary" style="width: 100%">Upload</button>		
                    </div>		
                    <div class="col-md-4  mt-2">		
                        <form method="get" action="{% url 'predict' %}" id="predictform" enctype="multipart/form-data" target="_blank">		
                            <button type="submit" id="predictbtn" class="btn btn-secondary" style="width: 100%" target="_blank">Predict</button>
                        </form>	
                    </div>
                    <div class="col-md-4 mt-2 custom-control custom-checkbox">
                        <!-- {{ form.sendbyemail|as_crispy_field }} -->
                        <!-- <input type="checkbox" form="predictform" class="custom-control-input" id="emailcheck">
                        <label class="custom-control-label" for="emailcheck">Send prediction to email?</label> -->
                    </div>
                </div>
            </div>  
        </div> 
    </div>
</div>
<br><br><br>
<div class="row">
    <div class="col-md-10 ml-2">
        <div class="row">
            <div class="col-md-2">
                <h4>File List</h4>
            </div>
            <div class="col-md-8">
                <small>If you see some random strings appended after your files below, don't worry! They are just for avoiding duplicants.</small>
                {% for f in files %}
                    <form method="post" action="{% url 'delete' f.pk %}">
                        {% csrf_token %}
                        {{ f.filepath.name|slice:"10:"|truncatechars:80 }}
                        <button type="submit" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br><br><br>

{% if files.count == 0 %}
<script>
    $("#predictbtn").on("click", function() {
        alert("Please upload at least one file before making a prediction.");
    })
</script>
{% endif %}
{% endblock %}
