.upload {
    width: 400px ;
    height: 300px ;
}
.upload input  {
    width: 400px ;
    height: 300px ;
    visibility: hidden;
}
.upload input::after{
    content:'Drag and drop here or Browse files'; 
    text-align: center;
    visibility: visible;
    display: block;
    position: absolute;
    background-color: red;
    bottom: 20px;
    /* padding: 5px; */
    top: 2px;
    /* display: block; */
    width: 100%;
    height: calc(15em + .75rem + 2px);
    padding: calc((15em + .75rem + 2px)/3) .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da; 
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}