html, body { 
    width: 100%; 
    height: 100%;
}

h4 {
    font-size: 32px;
}

.alignment_box select{
    width: 105%;
}

.upload_container {
    position: relative;
    border: 5px dashed #E9ECEF;
    border-radius: .5rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.upload {
    width: 100%;
    height: 100%;
    padding: 80% 1% 1% 1%;
    opacity: 0%;
    /* border: 5px dashed #E9ECEF;
    border-radius: .5rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
    /* text-indent: 999em; */
    /* text-align: center; */
}

.dragmsg {
    position: absolute;
    top: 40%;
    left: 15%;
    right: 15%;
    bottom: 60%;
    text-align: center;
    font-size: larger;
    border: transparent;
    color: #6d7378;
}

#inputfile_name {
    color: #6d7378;
    padding: 0% 3%;
    overflow: auto;
    display: inline-block;
    white-space: nowrap;
}

.fileupload_container {
    height: 100%;
}

.table_header {
    background-color: #6d7378;
    color: white;
}

.filelist_container {
    height: 200%;
    overflow: auto;
    display: inline-block;
    white-space: nowrap;
    border: 2px solid #E9ECEF;
    border-radius: .25rem;
}

.filelist_container tbody tr td {
    font-size: 14px;
    color: #4c4f52;
}






