.result-table-container {
    overflow: auto;
    white-space: nowrap;
    border: 2px solid #dee2e6;
    border-radius: .25rem;
}

.result-table {
    border: none;
    border-collapse: collapse;
    height: 100%;
    margin: 0;
}

.result-table th, .result-table td {
    background-color: white;

}

.result-table tr th:first-child {
    position: sticky;
    left: 0px;
    z-index: 100;
    box-shadow: 1px 0 #dee2e6, 0 -1px #dee2e6;
}

.result-table tr th:nth-child(2), .result-table tr td:nth-child(2) {
    position: sticky;
    left: 129px;
    z-index: 100;
    box-shadow: 1px 0 #dee2e6;
}



