{% extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load fontawesome %}


{% block index %}
<script type="text/javascript">window.CSRF_TOKEN = "{{ csrf_token }}";</script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<link rel='stylesheet' href="{% static 'css/index.css' %}">
{% fontawesome_stylesheet %}

<header class="jumbotron jumbotron-fluid bg-dark text-white">
  <div class="container">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This website is a simple tool that determines whether a virus can infect 
      <span data-toggle="tooltip" data-placement="top" title="Sclerotinia is a fungal pathogen known to infect and kill soybean plants. Viruses that can kill a fungus are known to be mycovirus.">
        Sclerotinia
      </span>.
      You can choose from a variety of supervised, unsupervised and semi-supervised machine-learning methods to analyze virus genome sequence. 
    </p>
    <span>There is no programming requirement! Our models will return predicted labels. A label can indicate if the virus can infect Sclerotinia or not. For example, the label 0 can mean the virus can not kill Sclerotinia and vice versa. Some methods can return more than two predicted labels.</span><br><br>
    <a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Learn more</a><br><br>
  </div>
</header><br><br>

<div class="content container">
  <h4>Upload File</h4>
  <p>Please upload file(s) containing sequence(s) of virus genome.</p>
  <div class="row fileupload_container mb-5 mt-4">
      <div class="col-md-5 mb-5">   
          <!-- file upload form --> 
          <form id="fileinfoform" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ upload_form.filepath}}
              <button id="file_upload_btn" type="submit" value="upload_form" name="upload_file" class="btn btn-secondary mt-3" style="width: 100%; ">Upload</button>		
          </form>
      </div>  
      <div class="col-md-6 ml-3 ml-md-5">
          <!-- filelist form -->
          <form id="filelistform" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row {% if filelist_form.errors.filelist.0 %} invalid {% endif %}">
                  {{ filelist_form.filelist }}
              </div>
              <div class="row invalid_msg">
                  <strong>{{ filelist_form.errors.filelist.0 }}</strong>
              </div>
              <div class="row float-right mt-3">
                  <div class="btn-group" style="width: 100%;">
                      <button id="action_btn" type="button" class="btn btn-secondary" style="width: 100%;">Action</button>
                      <button id="action_icon_btn" type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </button>
                      <div class="dropdown-menu">
                          <button id="add_to_pred_btn" type="submit" value="filelist_form" name="add_filelist" class="dropdown-item">Add to prediction</button>		
                          <button id="del_files_btn" value="filelist_form" name="delete_filelist" class="dropdown-item">Delete files</button>		
                          <div class="dropdown-divider"></div>
                          <button button value="filelist_form" name="action" class="dropdown-item disabled">Save to database</button>		
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>

  <br><div class="dropdown-divider mb-5"></div><br><br>

  <h4>Predict</h4>
  <span>Please fill in the forms below before making a prediction.</span><br><br>
  <div class="row">
      <div class="col-md-6">
          <h5>Choose a model</h5>
          <!-- model and email form -->
          <form id="choose_model_form" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                  <div class="col-md-8 mr-3">
                      {{ predict_form.mlmodels | as_crispy_field }}
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-8 mr-3">
                      {{ predict_form.email | as_crispy_field }}
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-8 mr-3">
                      {{ predict_form.sendbyemail | as_crispy_field }}
                  </div>
              </div>
              <div class="row mt-2">
                  <div class="col-md-8">
                      <button type="submit" id="choose_model_btn" value="choose_model" name="choose_model" class="btn btn-secondary float-right mr-3 mr-md-0">Save</button>
                  </div>
              </div>
          </form>
      </div>

      <div class="col-md-6">
          <h5>Fill in parameters</h5>
          <a class="badge badge-primary" data-toggle="modal" data-target="#staticBackdrop">
              Learn More about {{ predict_form.instance.get_mlmodels_display }}
          </a>
          <!-- infomation modal for model and its parameter -->
          <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel" style="text-transform:uppercase">{{ predict_form.instance.get_mlmodels_display }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
                      <div>
                          {% if parameters_form.description %}
                              {% for field, dscp in parameters_form.description.items %}
                                  <u>{{field}}</u>:
                                  <p>{{dscp|safe}}</p>
                                  <br>
                              {% endfor %}
                          {% else %}
                              <p>More details will be posted soon.</p>
                          {% endif %}
                      </div>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>
              </div>
          </div>
          <!-- parameters form -->
          <form method="POST" enctype="multipart/form-data" target="_self">
              {% csrf_token %}
              {% if parameters_form.fields|length == 0 %}
                  <span class="help_msg">No required parameters. Please click the predict button to proceed.</span>
              {% else %}
                  <div class="d-inline-flex flex-wrap">
                  {% for field in parameters_form%}
                      <div class="form-group mr-3 flex-fill param {% if field.errors.0 %} invalid {% endif %}">
                          {{ field }} 
                          <strong class="invalid_msg">{{ field.errors.0 }}</strong>
                      </div>
                  {% endfor %}
                  </div>
              {% endif %}
              <div class="row mt-5">
                  <div class="col-md-12">
                      <button type="submit" id="submit_params_btn" value="submit_params" name="submit_params" class="btn btn-secondary float-right mr-3">Predict</button>
                      <button type="submit" id="update_params_btn" value="update_params" name="update_params" style="display:none;"></button>
                      <button type="button" id="submit_params_alert" class="btn btn-primary" data-toggle="modal" data-target="#alertModal" style="display:none;"></button>
                      <!-- error message modal for empty file list when making prediction -->
                      <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                  <strong>The filelist is empty!</strong> Please select at least one file before making prediction.
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
<br><br><br><br><br><br>

<footer class="footer bg-dark text-white">
    <div class="container">
        <div class="row justify-content-center align-self-center">     
            <a class="btn btn-outline-secondary mt-5 mb-5 mr-5" href="https://github.com/solislemuslab/mycovirus-ml"><i class="fa fa-github-square fa-lg"></i>  Github</a>
            <a class="btn btn-outline-secondary mt-5 mb-5 mr-5" href=""><i class="fa fa-file fa-lg"></i>  Paper</a>
            <a class="btn btn-outline-secondary mt-5 mb-5 mr-5" href="mailto:mycovirus.website@mail.com"><i class="fa fa-envelope fa-lg"></i>  Email</a>
            <a class="btn btn-outline-secondary mt-5 mb-5" href="https://solislemuslab.github.io/"><i class="fa fa-sitemap fa-lg"></i>  More Projects</a>
        </div>
       <div class="row justify-content-center">             
            <div class="col-auto">
                <p class="text-secondary">Designed and built by <a class="text-secondary" href="https://solislemuslab.github.io/">Solis-Lemus Lab</a></p>
            </div>
       </div>
    </div>
</footer>
{% endblock %}
