{% extends "./index.html" %}
{% block upload %}
{% load crispy_forms_tags %}
{% load static %}
<link rel='stylesheet' href="{% static 'css/predict.css' %}">

<br><br>
<h4>Upload File</h4>
<p>Please upload file(s) containing sequence(s) of virus genome.</p>
<div class="row fileupload_container mb-5 mt-4">
    <div class="col-md-5 mb-5">    
        <form id="fileinfoform" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ upload_form.filepath}}
            <button id="file_upload_btn" type="submit" value="upload_form" class="btn btn-secondary mt-3" style="width: 100%; ">Upload</button>		
        </form>
    </div>  
    <div class="col-md-6 ml-3 ml-md-5">
        <form id="filelistform" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                {{ filelist_form.filelist }}
            </div>
            <div class="row float-right mt-3">
                <div class="col-md-7">
                    {{ filelist_form.alignment | as_crispy_field }}
                </div>
                <div class="col-md-5">
                    <div class="btn-group" style="width: 100%;">
                        <button id="action_btn" type="button" class="btn btn-secondary" style="width: 100%;">Action</button>
                        <button id="action_icon_btn" type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu">
                            <button id="add_to_pred_btn" type="submit" value="filelist_form" name="add_filelist" class="dropdown-item">Add to prediction</button>		
                            <button id="del_files_btn"value="filelist_form" name="delete_filelist" class="dropdown-item">Delete files</button>		
                            <div class="dropdown-divider"></div>
                            <button button value="filelist_form" name="action" class="dropdown-item disabled">Save to database</button>		
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<br>
<div class="dropdown-divider mb-5"></div>
<br><br>

<h4>Predict</h4>
<span>Please fill in the forms below before making a prediction.</span><br><br><br>
<div class="row">
    <div class="col-md-6">
        <h5>Choose a model</h5>
        <form id="choose_model_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-8 mr-3">
                    {{ predict_form.mlmodels | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mr-3">
                    {{ predict_form.email | as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mr-3">
                    {{ predict_form.sendbyemail | as_crispy_field }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-8">
                    <button type="submit" id="choose_model_btn" value="choose_model" name="choose_model" class="btn btn-secondary float-right mr-3 mr-md-0">Save</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h5>Fill in parameters</h5>
        <form method="POST" enctype="multipart/form-data" target="_blank">
            {% csrf_token %}
            {% if parameters_form.fields|length == 0 %}
                <span class="help_msg">No required parameters. Please click the predict button to proceed.</span>
            {% else %}
                <div class="d-inline-flex flex-wrap">
                {% for field in parameters_form%}
                    <div class="mr-3 flex-fill">{{ field|as_crispy_field }}</div>
                {% endfor %}
                </div>
            {% endif %}

            <div class="row mt-5">
                <div class="col-md-12">
                    <button type="submit" id="submit_params_btn" value="submit_params" name="submit_params" class="btn btn-secondary float-right mr-3">Predict</button>
                </div>
            </div>
        </form>
    </div>
</div>   

<!-- <br><br><br>
content: {{content}}
<br><br><br>
last_predict_info: {{last_predict_info}}
<br><br><br>
last_predict_info_id: {{last_predict_info_id}}
<br><br><br>
last_predict_info_parameters: {{last_predict_info_parameters}}
<br><br><br>
action: {{action}}
<br><br><br>
all_filelist: 
{{all_filelist}}
<br><br><br>
all_predictinfo:
{{all_predictinfo}}
<br><br><br> -->
<!-- <form id="predictinfoform" method="POST" enctype="multipart/form-data" target="_blank">
    {% csrf_token %}
    <div class="row ">
        <div class="col-md-4">
            {{ predict_form.mlmodels|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ predict_form.kmer|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ predict_form.email|as_crispy_field }}
            {{ predict_form.sendbyemail|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="submit" id="predictbtn" value="predict_form" name="action" class="btn btn-secondary" style="width: 100%">Predict</button>
        </div>
    </div>
</form> -->
<br><br><br>

<br><br><br>
<div class="row">
    <div class="col-md-2">
        <h4>File List</h4>
    </div>
    <div class="col-md-8">
        <small>If you see some random strings appended after your files below, don't worry! They are just for avoiding duplicants.</small>
        {% for f in files %}
            <form method="post" action="{% url 'delete' f.pk %}">
                {% csrf_token %}
                {{f.pk}} {{ f.filepath.name|slice:"10:"|truncatechars:80 }}
                <button type="submit" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
        {% endfor %}
    </div>
</div>
<br><br><br>

<br><br><br>
<h4>File List</h4>
<div class="row">
    {% for fl in filelists %}
    <div class="col-md-8">
        <form method="post" action="{% url 'delete_filelists' fl.pk %}">
            {% csrf_token %}
            {{ fl.pk }}{{ fl }}
            <button type="submit" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>
    </div>
    {% endfor %}

</div>
<br><br><br>

{% if files.count == 0 %}
<script>
    $("#predictbtn").on("click", function() {
        alert("Please upload at least one file before making a prediction.");
        return false;
    })
</script>
{% endif %}

<!-- {% with last=filelists.last %}
{{last}}
{% ifequal last|length 0 %}
hihihi
<script>
    if(len(last)==0) {
        $("#predictbtn").on("click", function() {
            alert("Please select files you want to predict and add to prediction.");
            return false;
        })
    }
</script>
{% endifequal %}
{% endwith %} -->

<script>
    function resize() {
        let height = $('.upload_container').height();
        let width = $('.upload_container').width();
        $('.filelist_container').height(height);
        $('.filelist_container').width(width);
        if(screen.width > 760) {
            $('.filelist_container').width(1.5*width);
        }
    }
    $(window).load(function() {
        resize();
    })
    $(window).resize(function() {
        resize();
    })
    $("#select_all").click(function() {
        $(".filelist_container input:checkbox").prop("checked", this.checked);
    })
    // $("#action_btn").click(function(){
    //     $(".btn-group, .dropdown-menu").toggleClass("show");
    // })
    $("#choose_model_form select").on('change', function() {
        $("#choose_model_form").submit();
        sessionStorage.setItem('scrollpos', window.scrollY);
    })
    $("#choose_model_btn").click(function() {
        sessionStorage.setItem('scrollpos', window.scrollY);
    })
    $("#add_to_pred_btn").click(function() {
        sessionStorage.setItem('scrollpos', window.scrollY);
    })
    $("#del_files_btn").click(function() {
        sessionStorage.setItem('scrollpos', window.scrollY);
    })
    $("#file_upload_btn").click(function() {
        sessionStorage.setItem('scrollpos', window.scrollY);
    })
    // $("#submit_params_btn").click(function() {
    //     sessionStorage.setItem('scrollpos', window.scrollY);
    // })
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = sessionStorage.getItem('scrollpos');
        if (scrollpos) {
            window.scrollTo(0, scrollpos);
            sessionStorage.removeItem('scrollpos');
        }
    });
</script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script>
    function resetData() {
        $.ajax({
            url: '../resetData/',
            type: 'POST',
            dataType: 'json',
            data: {csrfmiddlewaretoken: window.CSRF_TOKEN},
        }); 
    }
    window.addEventListener("unload", function(event) { 
        resetData();
    });
</script>
{% endblock %}
