<div class="filelist_container">
{% with id=widget.attrs.id %}
<table{% if id %} id="{{ id }}"{% endif %} {% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
  <thead class="thead-light">
    <tr>
      <th scope="col"><input type="checkbox" id="select_all"></th>
      <th scope="col">File Name</th>
    </tr>
  </thead>
  <tbody> 
  {% for group, options, index in widget.optgroups %}
    {% for option in options %}
    <tr>
      <th scope="row"><input type="checkbox" name="{{option.name}}" value="{{option.value}}" 
                class="{{option.attrs.class}}" id="{{option.attrs.id}}"></th>
      <td><label for="{{option.attrs.id}}">{{option.label}}</label></td>
    </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>
{% endwith %}
</div>