<!-- Copyright 2020 by Chunrong Huang, Solis-Lemus Lab, WID.
  All rights reserved.
  This file is part of the BioKlustering Website.  -->

{% if widget.is_initial %}{{ widget.initial_text }}: <a href="{{ widget.value.url }}">{{ widget.value }}</a>{% if not widget.required %}
<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
<label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>{% endif %}<br>
{{ widget.input_text }}:{% endif %}

<div class="upload_container">
<p class="dragmsg"><i class="fa fa-folder"></i> Drag and drop here or Browse files</p>
<input type="{{ widget.type }}" name="{{ widget.name }}" class="upload" id="inputfile" onChange="getoutput()" {% include "django/forms/widgets/attrs.html" %}>
<small id="inputfile_name">No File Selected</small>
</div>

<script>
    function getoutput() {
        let filePath = inputfile.value;
        fileName = filePath.substr(filePath.lastIndexOf('\\') + 1);
        inputfile_name.innerHTML = fileName;
    }
</script>